.profile {
    border-radius: 50%;
    width: 250px;
    border: 3px solid #967a15;
    text-align: center;
    margin-top: 15px;
}
.profile:hover,
.profile:focus,
.profile:active {
  border-color: #e6c44e;
}

.username {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.username a {
    color: rgba(199, 149, 42, 0.863);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Karla', Helvetica, sans-serif;
}

.userName a:hover {
    color: #000;
}

.username a:hover
 {
    color: #000;
}