.link {
    display: block;
    background-color: hsla(0, 0%, 0%, 0.91);
    color: #a88a1d;
    border: 3px solid #967a15;
    border-radius: 7px;
    transition: color 0.15s ease, border-color 0.30s ease;
    text-align: center;
    font-size: 1rem;
    font-family: 'Karla', Helvetica, sans-serif;
    font-weight: 600;
    margin: 0.5rem;
    padding: 1.5rem;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 35px;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 1rem;
}

.link:hover,
.link:focus,
.link:active {
    color: #ffffff;
    border-color: #e6c44e;
}
.link h3 {
margin: 0 3rem 0 3rem;
font-size: 1.5rem;
}