.link {
    display: block;
    background-color: hsl(0, 0%, 0%);
    color: #ffffff;
    border: 3px solid #000000;
    border-radius: 7px;
    transition: color 0.15s ease, border-color 0.30s ease;
    text-align: center;
    font-size: 1rem;
    font-family: 'Karla', Helvetica, sans-serif;
    font-weight: 600;
    margin: 0.5rem;
    padding: 1.5rem;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 35px;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 1rem;
}

.link:hover,
.link:focus,
.link:active {
    color: #000000;
    font-size: 1.1em;
    border: 3px solid #ffffff;
    background-color: hsl(0, 100%, 30%);



}
.link h3 {
margin: 0 3rem 0 3rem;
font-size: 1.5rem;
}